<% provide :title, "collection" %>
<p class = "page_title">コレクション</p>
<h2 class = "about_page">今までに飲んだウイスキーを一覧で表示します！</h2>

<% 
=begin 
%>
    <section class = "soat_box"> 
        // キーワードで検索
        <%= search_form_for @q do |f| %>
        <%= f.label :name, "キーワード" %>
        <%= f.search_field :whisky_name_cont %>
        種類で検索
        <%= f.label :name, "" %>
        <%= f.search_field :whisky_name_cont %>
        <%= f.submit "検索" %>
        <% end %>
    </section>
<% 
=end 
%>

  