<% provide :title, "collection" %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Whisky Collection</title>
  </head>

  <body id = "collection_list">
    <header>
      <nav>
        <li><a class = "jump_home" href="#">ホーム</a></li>
        <li><a class = "jump_editor_list" href="#">編集</a></li>
        <li><a class = "jump_collectin_list" href="#">一覧</a></li>
        <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:search_box, "検索:") %>
        <%= text_field_tag(:search_box) %>
        <%= submit_tag("Search") %>
      <% end %>
      </nav>
    </header>

    <section class = "soat_box"> 
        // キーワードで検索
        <%= search_form_for @q do |f| %>
        <%= f.label :name, "キーワード" %>
        <%= f.search_field :whisky_name_cont %>
        種類で検索
        <%= f.label :name, "" %>
        <%= f.search_field :whisky_name_cont %>
        <%= f.submit "検索" %>
        <% end %>
    </section>