<% provide :title, "edit" %>
<% provide :page_title,"編集"%>
<h3 class = "about_page">編集したいウイスキーを選んでください</h3>

<%= simple_form_for @whisky do |f| %>
  <%= f.input :name %>
  <%= f.input :kind %>
  <%= f.input :comment %>
  <%= f.input :rank %>

  <%= f.button :submit %>
<% end %>