<% provide :title, "edit" %>
<% provide :page_title,"編集"%>
<h3 class = "about_page">編集したいウイスキーを選んでください</h3>

<%= form_for(@whisky, url:edit_individual_path,method: :post) do |f| %>
  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kind, "種類" %>
    <%= f.text_field :kind %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>